<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.library.htmlparser">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".image.ImagePreviewActivity" />
        <activity android:name=".iframe.WebViewActivity" />
    </application>
</manifest>
